<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.hitachiid.bravurasafe</key>
        <string>Dist: Hitachi ID 2021</string>
        <key>com.hitachiid.bravurasafe.autofill</key>
        <string>Dist: Autofill 2021</string>
        <key>com.hitachiid.bravurasafe.find-login-action-extension</key>
        <string>Dist: Extension 2021</string>
        <key>com.hitachiid.bravurasafe.share-extension</key>
        <string>Dist: Share Extension 2021</string>
    </dict>
</dict>
</plist>
